 @import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
/*
 *{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

.main{
    display: inline-flex;
    padding: 0 0 10px 0;
    justify-content: center;
    align-items: flex-start;
    flex-wrap: wrap;
}

.main-content{
    box-shadow: 4px 4px 5px rgb(175, 175, 175);
    height: auto;
    margin: 20px;
    width: 100%;
    display: inline-block;
    
}


.image{
    height: auto;
    width: 100%;
}
.heading{
    margin: 10px 20px;
    width: 100%;
    height: auto;
}
.body{
    width: 100%;
    height: auto;
}

.text{
    margin: 10px 20px;
    height: auto;
}

@media only screen and (max-width: 1500px) {
.main-content{
    width: 25%;
    offset: -1;
    height: auto;
}
.main-content:hover{
    transform: scale(.98);
    transition: ease-out .3s;
}
}
@media only screen and (max-width: 1050px) {
.main-content{
    width: 33.33%;
    offset: -1;
    height: auto;
}
.main-content:hover{
    transform: scale(.98);
    transition: ease-out .3s;
}
}
@media only screen and (max-width: 760px) {
.main-content{
    height: auto;
    width: 41.66%;
}
.main-content:hover{
    transform: scale(.98);
    transition: all .3s;
}
}
@media only screen and (max-width: 640px) {
.main-content{
    height: auto;
    width: 91.66%;
}
.main-content:hover{
    transform: scale(.98);
    transition: all .3s;
}
}





.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;} */



/* @font-face {
    font-family:;
    src: url("GT America Regular/GT\ America\ Regular.ttf");
  } */

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}
.main{
    display: inline-flex;
    padding: 0 90px;
    justify-content: center;
    align-items: flex-start;
    flex-wrap: wrap;
    width: 100%;
}
.image{
    height: auto;
    width: 100%;
}
.heading{
    padding: 10px 30px 0 ;
    height: auto;
    font-size: 1.5rem;
    margin: 0 auto;
}
.body{
    width: 100%;
    height: auto;
}
.head{
    position: relative;
}
.text{
    padding: 10px 30px;
    height: auto;
}
.btn{
    height: 50px;
    width: 50px;
    border-radius: 100%;
    background-color: #87ceeb;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    outline: none; 
    position: absolute;
    top: 10px;
    right: 10px;
}
.footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    padding: 20px 30px 0;
    flex-wrap: wrap;
    color: rgb(156, 156, 156);
}
.footer span{
    margin: 5px 0;
}
.fas{
    color: black !important;
}
#insert{
    display: none;
}
.main-content{
    box-shadow: 4px 4px 5px rgb(175, 175, 175);
    padding: 0 0 20px 0;
    margin: 0 0 20px 0;
    width: 100%;
}
.main-content:hover{
    transform: scale(.98);
    transition: ease-out .3s;
}
.column{
    width: 33.33%;    
    padding: 20px;
    display: flex;
    justify-self: center;
    align-self: start;
    flex-wrap: wrap;
}
@media only screen and (max-width: 1087px) {
    .column{
        width: 50%;
    }
  }
  @media only screen and (max-width: 767px) {
   .main{
       padding: 0 20px;
   }
  }
  @media only screen and (max-width: 657px) {
    .column{
        width: 100%;
    }
  }
